{
    "database": {
        "socketPath": "",
        "user": "",
        "password": "",
        "defaultSchema": "",
        "allowMultipleStatements": true
    },
    "authentication": {
        "pepper": ""
    }
}